@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


.container-1 {
    padding: 10px 360px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.header-image,
.header-content
{
    height: 200px;
}

.header-image {
    width: auto;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.container-2 {
    margin-top: 40px;
}


h2 {
    text-align: center;
}


.rounded-box {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: transparent;
  }

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 120px;
}

.info-flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}


.container-3 {
    display: flex;
    flex-direction: column;
    padding: 10px 480px;
}


.testimonial {
    align-self: center;
}

.user-name {
    align-self: flex-end;
}

.container-4 {
    margin: 0px 120px;
}

.cta {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}

.cta-footer {
    display: flex;
    flex-direction: column;
}

.signup {
    align-self: center;
}
